@charset "UTF-8";
/*
base
*/
*{
    padding: 0;
    margin: 0;
}
html {
    font-size: 100%;
}
body {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}
li {
    list-style: none;
}
a {
    color: #333;
    text-decoration: none;
}
a:hover {
    opacity: 0.7;
}
section[id] {
  scroll-margin-top: 60px; /*固定ヘッダーの高さ*/
}
main {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
}

/*
header
*/
.header {
    width: 100%;
    height: 60px;
    background-color:#BEA574;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
}
.header-nav {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 20px;
}
.header-logo {
    line-height: 0;
    width: 100px;
}
.header-menu {
    display: flex;
    align-items: center;
    font-size: 16px;
}
.header-menu li {
    padding-left: 80px;
}
.header-menu a {
    color: #fff;
}

/*
hamburger
*/
.hamburger-menu {
    position: fixed;
    max-height: 0;
    overflow: hidden;
    padding-inline-start: 0;
    width: 100%;
    z-index: 200;
    transition: all 0.3s;
}

@media screen and (max-width: 600px) {
    .header-menu {
        display: none;
    }
    .hamburger-menu a {
        background-color:#BEA574;
        display: block;
        width: 100%;
        height: 100%;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 14px 0;
        border-top: 1px solid #fff;
        color: #fff;
    }
    .hamburger-menu a:hover {
        opacity: 1;
    }
    .hamburger-menu li:last-child {
        border-bottom: 1px solid #fff;
    }
    .hamburger-menu.active {
        max-height: 300px;
    }
    .hamburger {
        width: 30px;
        height: 30px;
        position: fixed;
        top: 15px;
        right: 30px;
        cursor: pointer;
    }
    .hamburger span {
        width: 30px;
        height: 3px;
        background-color: #fff;
        display: inline-block;
        position: absolute;
        left: 0px;
        transition: all 0.3s;
    }
    .hamburger span:nth-of-type(1){
        top: 6px;
    }
    .hamburger span:nth-of-type(2) {
        top: 14px;
    }
    .hamburger span:nth-of-type(3) {
        top: 22px;
    }
    .hamburger.active span:nth-of-type(1)  {
        top: 14px;
        transform: rotate(-45deg);
    }
    .hamburger.active span:nth-of-type(2)  {
        opacity: 0;
    }
    .hamburger.active span:nth-of-type(3)  {
        top: 14px;
        transform: rotate(45deg);
    }
}

/*
slider
*/
.slider {
padding-top: 60px;
  position: relative;
  width: 100%;           
  max-width: 100%;      
  margin: 0 auto;
  overflow: hidden;       
  margin-bottom: 60px;
  box-sizing: border-box;
}

.slides {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  transition: transform 0.5s ease;
  padding: 0 10%;          
  box-sizing: border-box;
}
.slides img {
  width: 100%;    
  flex-shrink: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.prev, .next {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  user-select: none;
}
.prev { 
    left: 2%; 
}
.next {
    right: 2%;
}
.prev img, .next img {
  width: clamp(30px, 4vw, 50px);
  height: auto;
  filter: drop-shadow(0 0 5px rgba(0,0,0,0.5));
  transition: opacity 0.3s;
}
.prev img:hover,.next img:hover {
  opacity: 0.7;
}
@media screen and (max-width: 600px) {
    .slider {
        margin-bottom: 40px;
    }
}

/* ページネーション */
.pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 12px;
  z-index: 10;
}
.pagination .dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #BEA574;
  transition: all 0.3s ease;
}
.pagination .dot.active {
  background: #fff;
  transform: scale(1.3);
}

/*
catchphrase
*/
.catchphrase {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 80px;
}
.catchphrase .highlight {
    font-size: 60px;
    color: red;
}
@media screen and (max-width: 600px) {
    .catchphrase {
        font-size: 18px;
        margin-bottom: 40px;
    }
    .catchphrase .highlight {
        font-size: 40px;
    }
}
.section-title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}
@media screen and (max-width: 600px) {
    .section-title {
        font-size: 30px;
        margin-bottom: 20px;
    }
}


/*
schedule
*/
.schedule {
    margin-bottom: 80px;
}
.schedule-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C0C0C0;
    border-bottom: 2px solid #BEA574;
}
.schedule-description {
    border: 2px solid #EEEEEE;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);;
    font-size: 18px;
}
.schedule-menu-list {
    width: 33.3%;
    text-align: center;
    padding: 10px 0;
}
.schedule-menu a {
    display: block;
    font-weight: 700;
    font-size: 16px;
}
.schedule-menu-list:hover {
    opacity: 0.5;
}
.schedule-menu-list.active {
    background-color: #BEA574;
}
.schedule-menu-list.active a {
    color: #fff;
}
.schedule-description-item {
    display: none;
}
.schedule-description-item.active {
    display: block;
}
@media screen and (max-width: 600px) {
    .schedule {
    margin-bottom: 60px;
    }
    .schedule-menu a {
        font-weight: 700;
        font-size: 14px;
    }
    .schedule-description {
        font-size: 16px;
    }
}

/*
access
*/
.access {
    margin-bottom: 80px;
}
address {
    font-style: normal;
    text-align: center;
    margin-bottom: 20px;
}
.map {
    display: flex;
    justify-content: center;
}
iframe {
    height: 400px;
    width: 90%;
}
@media screen and (max-width: 600px) {
    .access {
        margin-bottom: 60px;
    }
    address {
        margin-bottom: 16px;
    }
    iframe {
        height: 300px;
        width: 80%;
    }
}


/*
form
*/
.reserve {
    margin-bottom: 40px;
}
form {
    max-width: 500px;
    margin: 0 auto;
}
form label {
    /* display: block; */
    margin-bottom: 8px;
}
.form-group {
    font-size: 16px;
}
.required {
    font-size: 12px;
    color: red;
}
.non-required{
    font-size: 10px;
}
input, select {
    display: inline-block;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 18px;
}
#tel {
    margin-bottom: 5px;
}
form button {
    width: 100%;
    padding: 5px 0;
    background-color: #BEA574;
    margin-bottom:20px;
    color: #fff;
    border: none;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
} 
form button.disabled {
  opacity: 0.6;
  cursor: default;
}

#inputError, #endError {
    font-size: 14px;
    color: red;
    display: none;
} 
@media screen and (max-width: 600px) {
    form {
        width: 80%;
    }
    #inputError, #endError {
        font-size: 12px;
    }
}


/*
footer
*/
footer {
    width: 100%;
    background-color:#BEA574;
}
footer img {
    width: 100px;
    line-height: 0;
    padding: 10px 0;
}
footer .img {
  display: flex;
  justify-content: center; 
  align-items: center;    
}

#hoverMessage {
  color: red;
  font-size: 14px;
  text-align: center;
  /* margin-bottom: 5px;
  min-height: 0.5em; ← メッセージ分の高さを常に確保！ */
  visibility: hidden; /* ← 非表示でもスペースは保つ */
}

#hoverMessage.active {
  visibility: visible; /* 表示状態に変更 */
}

